<!DOCTYPE html>
<html lang="en" ng-app="ten-tweets">

  {% load static %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'leaflet/dist/leaflet.css' %}" />

    <script src="{% static 'underscore/underscore-min.js' %}"></script>
    <script src="{% static 'leaflet/dist/leaflet.js' %}"></script>
    <script src="{% static 'angular/angular.min.js' %}"></script>
    <script src="{% static 'ten_tweets/tweets-controller.js' %}"></script>

    <style type="text/css" media="screen">
      #map {
          height: 360px;
      }
    </style>

  </head>
  <body>
    {% verbatim %}
    <div class="container">
      <div id="map" class="row"></div>
      <div class="row" ng-controller="TweetListController">
        <ul>
          <li ng-repeat="tweet in tweets">
            <strong>{{ tweet.text }} </strong> <br />
            <small>{{ tweet.country }}</small>
          </li>
        </ul>
      </div>
    </div>
    {% endverbatim %}

    <script src="{% static 'ten_tweets/map.js' %}"></script>
  </body>
</html>
